/* HOMEPAGE */

/* Homepage NavBar */

.navbar.transparent {
  background: transparent !important;
  box-shadow: none !important;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.navbar-slide-down {
  animation: slideDown 0.5s ease-in-out;
}

.user-icon {
  margin-right: 1em;
}

/* HomeBanner  */

#banner-top {
  margin-top: -4em;
}

.banner-content {
  width: 100%;
  background-image: url("./src/assets/bannerImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-section-box {
  padding: 5em 3em 5em 3em;
}

.breakline {
  font-size: 2em;
  font-weight: 800;
  color: #D2B356;
  padding: 1em 0em;
}

#homepage-main-header {
  font-size: 3em;
  font-weight: 800;
  word-spacing: 0.5;
}

#homepage-main-subtitle {
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.3;
}

.banner-button-group {
  display: flex;
  padding: 0em 1.5em 2em;
}

/* Hompage About */

.about-section {
  background-color: white;
}

.section-container {
  margin: 0em 1em;
  padding: 9em 0 0 0;
  position: relative;
  display: flex;
}

.section-subhead {
  color: #9c9c9c;
  letter-spacing: 0.1em;
  padding: 0.5em 0.5em 0.2em 0.5em;
  border-bottom: 2px #D2B356 solid;
}

.section-title {
  padding: 0.25em 0em 0.25em 0.25em;
}

.section-subtitle {
  padding: 0em 0.5em;
  color: #9c9c9c;
}

.icon-block {
  padding: 1em;
}

.icon-block-icon {
  font-size: 2em;
  color: #D2B356
}

.icon-block-description p {
  font-size: 0.9em;
  margin-top: 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* Homepage Services */

.services-section {
  background-color: white;
}

.services-container {
  margin: 0em 1em;
  padding: 9em 0 8em 0;
  position: relative;
  display: flex;
}

.services-parcel-pic {
  width: 90%
}

/* ---- END HOMEPAGE ---- */


/* SECOND BANNER */

#second-banner-top{
  margin-top: -4em;
}

.banner-section-box {
  padding: 5em 3em 3em 3em;
}

.breakline {
  font-size: 2em;
  font-weight: 800;
  color: #D2B356;
  padding: 1em 0em;
}

#banner-main-header {
  font-size: 3em;
  font-weight: 800;
  word-spacing: 0.5;
}

#banner-main-subtitle {
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.3;
}

/* LOGIN PAGE */

.icon-parcel {
  color: #D2B356;
}

.logo-container {
  padding-top: 2.5em;
}

.login-welcome-icon {
  font-size: 3.5vw;
  margin-top: 1em;
  margin-bottom: -0.77em;
  z-index: 2;
  color: #D2B356;
}

/* SIGNUP PAGE */

.signup-logo-container {
  padding-bottom: 0.5em;
}

#signup-main-subtitle {
  font-weight: 300;
  font-size: 1.2em;
}


/* RIDES PAGE */

.trips-top-box {
  background-color: white;
}

.trips-title {
  padding: 0.25em 0em 0.25em 0.25em;
}

.trips-subtitle {
  padding: 0em 0.5em;
  color: #9c9c9c;
}









/* ACCOUNT PAGE */

.my-account-container {
  padding: 2em;
  display: flex;
  background-color: white;
}

.account-col-33 {
  width: 33.33%;
}

.account-col-66 {
  width: 66.66%;
}

.profile-pic-box {
  border: 2px solid black;
}

.profile-details-box {
  border: 2px solid black;
}

.posted-trips {
  border: 2px solid black;
  padding: 0;
}

.active-trips {
  border: 2px solid black;
}

/* FOOTER */

.footer-section {
  display: flex;
  background-color: #D2B356;
  text-align: center;

}